body {
    margin: 0;
    font-family: Arial, sans-serif;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000;
    color: #fff;
}
 
header h1 {
    margin: 0;
    font-size: 24px;
}
 
nav a {
    margin-left: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
 
nav a:hover {
    color: #007BFF;
}
 
 
.container {
    display: flex;
    min-height: calc(100vh - 80px);
}
 
.left {
    background-color: #000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.left img {
    width: 70%;
    max-width: 400px;
    border-radius: 50%;
}
 
.right {
    background-color: #f0f0f0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
}
 
.right h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
 
.right p {
    font-size: 18px;
    color: #333;
}